# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
.venv/
.env

# Node
node_modules/
dist/
build/

# Notebooks
.ipynb_checkpoints/

# CAD / 3D caches
*.lock
*.autosave

# VSCode
.vscode/

# Logs
logs/
*.log

# Data
ml/datasets/*
!ml/datasets/README.md
